.num {
    display : block;
    width : 100%;
}

.clear {
    display : block;
    width : 100%;
}

.display{
    read-only: true;
}

.point{
    width : 100%;
}

table td{
    border: solid black 5px;
}

button{
    background: #aaaaaa;
}